<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <form action="/user/login" method="POST" name='signin'>
        <div>
        <label for="username">Username</label>
        <input type="text" name="username">
        </div>
        <div>
        <label for="password">Password</label>
        <input type="password" name="password">
        </div>
    </form>
        <div id='status'>

        </div>
        <div>
        <button id="submit">Login</button>
        </div>

    <script src='/reload/reload.js'></script>
    <script src='/js/signin.js'></script>
</body>
</html>